html,
body {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-color: rgb(3, 26, 77);
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    margin: 15px;
    padding: 10px;
    border-width: 2px;
    border-style: dashed;
    border-color: rgb(221, 221, 221);
    height: calc(100vh - 30px);
    width: calc(100vw - 30px);
    border-radius: 5px;
}

.item-container {
    float: left;
    border-style: dashed;
    border-color: white;
    border-width: 1px;
}
